@import "abstracts/functions";
@import "abstracts/mixins"; 
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";  

@import "pages/home";

@import "layout/header";  
@import "layout/grid";     
 

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;;
}

html {
    //just defines what 1 rem is so not in typography 
    font-size: 62.5%; 
}

body {
    padding: 3rem;
    box-sizing: border-box;
}

