@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="wrapper">

        <h2>Welcome to stream manager. Pick your role below: </h2>

        <div class="video-box">

            <a href="/Stream" class="btn">Stream</a><br />
            <a href="/Manage" class="btn">Manage</a>

        </div>

    </div>

    <script src="~/js/site.js"></script>

</body>

</html>