.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, 0.7);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond(phone) {
        transform: skewX(0);
    }

    & > * {
        @include respond(phone) {
            transform: skewX(0);
        }
        transform: skewX(12deg);
    }

    &__shape {
        position: relative;
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%); 

        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%); 

        //extra skew for here because we can't have 2 translations defined - one overwrites the other
        transform: translate(-2rem, -1rem) skewX(12deg);

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
        }
    }

    &__img {
        height:100%;
        transform: translateX(-15%) scale(1.3);
        transition: all .5s;
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
        width: 60%;
        text-align: center;
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        opacity: 0;
        transition: all .5s;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-15%) scale(1);
        filter: blur(3px) brightness(80%);
    }

    &:not(:last-child) {
        margin-bottom: 7rem;
    }

}