*,
*::after,   
*::before {
    margin: 0;        
    padding: 0;
    box-sizing: inherit;     
}
   
html {
    //just defines what 1 rem is so not in typography 
    font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { //width < 1200?
        font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) { //width < 900?
        font-size: 50%; //1 rem = 8px
    }

    @include respond(phone) { //width < 600?
        font-size: 40%; //
    }

    @include respond(big-desktop) { //width > 1800?
        font-size: 75%; //1rem = 12px
    } 
}
 
body {
    padding: 3rem;    
    box-sizing: border-box;  
    position: relative;   
    
    @include respond(tab-port) {
        padding: 0;
    }
}  

::selection {
    background-color: $color-primary;
    color: $color-white;
}
                           
